.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;    
}

.card{
    border: 2px solid #000;
    text-align: center;
    border-radius: 10px;
    width: 280px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.setimg{
    height: 250px;
    width: 235px;
    padding-top: 20px;
    background-size: cover;
    margin-bottom: -20px;
    
}

.productname{
    margin-bottom: 20px;
}

.price{
    margin-top: -10px;
}

.btn{
    width: 100px;
    height: 30px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    margin-top: -200px;
}

.btn:hover{
    color: black;
    background-color: #c1a515;
    font-weight: bolder;

}

.trend{
    background-color: black;
    color: #fff;
    position: absolute;
    z-index: 1;
    margin-left: 192px;
    margin-top: 20px;
    font-size: 12px;
}

@media(max-width:400px){
    .trend{
     margin-left: 182px;   
    }
}

