.form-container{
    justify-content: center;
}

.submit-btn{
    border-radius: 7px;
    color: #fff;
    background-color: #37B5B6;
    height: 35px;
    width: 80px;
    border-style: none;
    font-weight: bolder;
    font-size: 16px;
}

.submit-btn:hover{
    background-color: #fff;
    color: #37B5B6;
    border: 2px solid #37B5B6;   
}

