nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;    
    background-color: #272829;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 30px;
    position: relative;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.nav-link:hover
{
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
    color: #37B5B6;
}

.nav-link:hover::after
{
content: "";
width: 30%;
height: 2px;
background: #37B5B6;
position: absolute;
bottom: -4px;
left: 25px;
}

.sohini-logo{
    height: 70px;
    width: 120px;
    padding: 10px;
}

@media(max-width:800px){
    .navbar{
        display: inline-block;
        justify-content: space-evenly;
        padding: 0px;
        }
}

@media(max-width:400px){
    .navbar li{
        margin-bottom: 05px;
        margin-top: 0px;
    }

    nav{
        padding: 0px 0px 0px 20px;
        margin: 0px;
    }
}



